@import '../../styles/theme';

.gerami-button-primary {
  border-color: $primary;
  background-color: $primary;
  color: darken($bg, 7%);
}
.gerami-button-primary:focus,
.gerami-button-primary:hover {
  border-color: $primary;
  background-color: lighten($primary, 3%);
  color: $bg;
}
