@import '../../styles/theme';

.gerami-container {
  margin-right: -$space;
  margin-left: -$space;
}

@media (max-width: $mobile) {
  .gerami-container {
    margin-right: -$space * 0.5;
    margin-left: -$space * 0.5;
  }
}
