/* STRUCTURE */

$mobile: 480px !default;

$space: 20px !default;
$radius: 20px !default;
$border: 1px !default;

/* PADDING */

$padding-S: 7px !default;
$padding-M: 11px !default;
$padding-L: 15px !default;

/* FONT */

$font-S: 12px !default;
$font-M: 16px !default;
$font-L: 20px !default;

/* COLORS */

$bg: rgb(255, 255, 255) !default;
$fg: rgb(0, 0, 0) !default;

$primary: rgb(0, 120, 180) !default;
$accent: rgb(255, 135, 75) !default;
$warn: rgb(240, 70, 90) !default;

/* EFFECTS */

$shade-S: 0 1px 3px 1px transparentize($fg, 0.98), 0 0px 1px 0px transparentize($fg, 0.945) !default;
$shade-M: 0 2px 5px 0 transparentize($fg, 0.945), 0 0px 1px 0px transparentize($fg, 0.91) !default;
$shade-L: 0 3px 7px 0 transparentize($fg, 0.91), 0 0px 1px 0px transparentize($fg, 0.84) !default;

$touch: scale3d(0.98, 0.98, 1) !default;
