@import '../../styles/theme';

.gerami-select-container {
  max-width: 300px;
  min-width: 230px;
}

.gerami-select-header {
  border: 1px solid $primary;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  padding: $padding-S;
  //border-radius: $radius;
}

.gerami-select-placeholder {
  flex: 80%;
  display: flex;
  flex-wrap: wrap;
  color: darken($bg, 75%);
}

.gerami-selected-options-container {
  margin-left: 9px;
  display: flex;
  flex-wrap: wrap;
}
.gerami-multi-option-container {
  margin: 2px;
  background-color: #ededed;
}

.gerami-multi-option > i {
  margin-left: 7px;
}
.gerami-multi-option > i:hover {
  color: $warn;
  cursor: pointer;
}

.gerami-single-option-container,
.gerami-multi-option-container {
  padding: 4px;
  font-size: 13px;
}

.gerami-arrow-container {
  min-width: 24px;
  height: 24px;
  display: flex;
  text-align: center;
  cursor: pointer;
}
.gerami-arrow-container {
  i {
    font-size: 14px;

    &:hover {
      color: $primary;
    }
  }
  .gerami-cancel-all:hover {
    color: $warn;
  }
}
.gerami-arrow-container > i {
  margin: 2px;
  align-self: center;
}

.gerami-options-container {
  z-index: 1;
  box-shadow: $shade-L;
  border-radius: $radius;
  background-color: $bg;
  position: absolute;
  min-width: inherit;
  //background: transparent;
  width: inherit !important;
}
.gerami-option-items-container {
}
.gerami-options-container > div {
  padding: $padding-S;
}
.gerami-options-container > div:hover {
  background-color: #ededed;
  color: $primary;
  cursor: pointer;
}

.gerami-options-container > div > span {
  padding: $padding-S;
}
