@import '../../styles/theme';

.gerami-select-container {
  min-width: 230px;
  z-index: 1;
}

.gerami-select-header {
  border: 1px solid $primary;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  padding: $padding-S;
  border-radius: $radius;
  //position: relative;
  //z-index: 1;
}

.gerami-select-placeholder {
  flex: 80%;
  display: flex;
  flex-wrap: wrap;
  color: darken($bg, 75%);
}

.gerami-selected-options-container {
  margin-left: 9px;
  display: flex;
  flex-wrap: wrap;
}
.gerami-multi-option-container {
  margin: 2px;
  background-color: #ededed;
  z-index: 1;
}

.gerami-multi-option > span {
  margin-left: 7px;
}
.gerami-multi-option > span:hover {
  color: $warn;
  cursor: pointer;
}

.gerami-single-option-container,
.gerami-multi-option-container {
  padding: 4px;
  font-size: 13px;
}

.gerami-arrow-container {
  min-width: 24px;
  height: 24px;
  display: flex;
  text-align: center;
  cursor: pointer;
}
.gerami-arrow-container {
  i {
    font-size: 14px;
    &:hover {
      color: $primary;
    }
  }
  .gerami-cancel-all {
    z-index: 1;
    &:hover {
      color: $warn;
    }
  }
}
.gerami-arrow-container > i {
  margin: 2px;
  align-self: center;
}

.gerami-options-container-big {
  position: relative;
  width: inherit !important;
  min-width: inherit !important;
  background-color: black;
}
.gerami-options-container {
  z-index: 99;
  box-shadow: $shade-L;
  border-radius: $radius;
  background-color: $bg;
  position: absolute;
  min-width: inherit !important;
  width: 100% !important;
}
.gerami-option-items-container {
}
.gerami-options-container > div {
  padding: $padding-S;
}
.gerami-options-container > div:hover {
  background-color: #ededed;
  color: $primary;
  cursor: pointer;
}

.gerami-options-container > div > span {
  padding: $padding-S;
}

.gerami-background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
