@import '../../styles/theme';

.gerami-anchor {
  display: inline-block;
  text-decoration: underline;
  color: darken($primary, 7%);
  transition: all 150ms;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    color: $primary;
  }
  &:active {
    filter: $shy;
    transform: $touch;
    transition-delay: 0ms;
    transition-duration: 50ms;
  }
}
