@import '../../styles/theme';

.input-element {
}

.parent {
  width: 25px;
}

.gerami-checkbox {
  display: inline-block;
  position: relative;
  margin: 0 25px 25px 0;
  width: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//Hide the browsers default checkbox
.gerami-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

//Create a custom checkbox
.check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 3px;
  margin: 0 5px 5px 5px;
}

//Add bgcolor on hover
.gerami-checkbox:hover input ~ .check-mark {
  //background-color: #ccc;
}

//Do smt when checkbox is checked
.gerami-checkbox input:checked ~ .check-mark {
  background-color: $primary;
}

//Create check mark indicator
.check-mark:after {
  content: '';
  position: absolute;
  //display: none;
}

//Show check mark when clicked
.gerami-checkbox input:checked ~ .check-mark:after {
  display: block;
}

//Styling the check mark
.gerami-checkbox .check-mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #eee;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
