@import '../../styles/theme';

.gerami-page {
  padding-right: $space;
  padding-left: $space;
}

@media (max-width: $mobile) {
  .gerami-page {
    padding-right: $space * 0.5;
    padding-left: $space * 0.5;
  }
}
