@import '../../styles/_theme';

.gerami-toggle-switch input {
  display: none;
}
.gerami-toggle-left{
  height: 12px;
  width: 12px;
  background: rgb(176, 176, 176);
  display: inline-block;
  border-radius: 50%;
}

.gerami-toggle-right{
  height: 12px;
  width: 12px;
  background: rgb(176, 176, 176);
  display: inline-block;
  border-radius: 50%;
}

.gerami-toggle-span {
  width: 12px;
  height: 12px;
  background-color: rgb(176, 176, 176);
  cursor: pointer;
  margin: 0px -6px 0px -6px;
  display: inline-block;
  transition: 0.4s;
}

.gerami-toggle-span:before {
  position: absolute;
  border-radius: 100%;
  content: '';
  height: 15px;
  width: 15px;
  margin-top: -2px;
  margin-left: -10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px grey;
  transition: 0.4s;
}
.gerami-toggle-span-selected:before{
  background-color: $primary;
}

input:checked + .gerami-toggle-span:before {
  transform: translateX(18px);
}
