@import '../../styles/theme';
.switch input {
  display: none;
}

.gerami-toggle {
  width: 40px;
  height: 10px;
  background-color: rgb(116, 116, 116);
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  cursor: pointer;
  transition: 0.4s;
}
.gerami-toggle:hover {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.gerami-toggle:before {
  position: absolute;
  margin-top: -5px;
  border-radius: 100%;
  content: '';
  height: 20px;
  width: 20px;
  background-color: $primary;
  transition: 0.4s;
}

input:checked + .gerami-toggle:before {
  transform: translateX(20px);
}
