@import '../../styles/theme';

.gerami-imageInput-none {
  display: none;
}

.gerami-imageInput-image-input:hover {
  opacity: 0.6;
}

.gerami-imageInput-Camera-Image {
  display: inline-block;

  button {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    background: transparent none !important;
    box-shadow: none !important;
    color: inherit !important;
  }
}

.gerami-imageInput-image {
  border-radius: 50%;
}
