@import '../../styles/theme';

.gerami-imageInput-none {
  display: none;
}

.gerami-imageInput-image-input:hover {
  opacity: 0.6;
}

.gerami-imageInput-Camera-Image {
  display: inline-block;
}

.gerami-imageInput-image {
  border-radius: 50%;
}